

.header-handle{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border: 1px;
    border-style: solid;
    border-bottom-color: #ccc ;

    .side{
        display: flex;
    }
}
